<!-- Contacto -->
<ul class="collection">
    <li class="collection-item avatar">
      <img src="https://www.pngmart.com/files/21/Linkedin-In-Logo-PNG-Isolated-Photos.png" alt="LinkedIn" class="circle">
      <span class="title">Linked-In</span>
      <p>Camily Bravo</p>
      <a href="https://www.linkedin.com/in/camilybravo/" target="_blank" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="GitHub" class="circle">
      <span class="title">GitHub</span>
      <p>cambrv
      </p>
      <a href="https://github.com/cambrv" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="" class="circle">
      <span class="title">Facebook</span>
      <p>Camily Bravo
      </p>
      <a href="https://www.facebook.com/camily.bravo.39" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="" class="circle">
      <span class="title">Instagram</span>
      <p>camilybravo
      </p>
      <a href="https://www.instagram.com/camilybravo" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
