<header>
  <h1><b>Blog Personal</b></h1>
</header>
  <!--Tarjeta-->
  <div class="contenedor-inicial">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <img src="https://media.licdn.com/dms/image/D4E03AQFiQnutP25k8Q/profile-displayphoto-shrink_800_800/0/1680283080380?e=1691625600&v=beta&t=T0MIeprR2lAIZmNdyNnBvwTqm0DwDqoOKTecpEcQM2Y" class="img-fluid" id="imb" alt="Foto de biografía">
        <p class="card-text"><b>Nombres:</b> Camily Ivanne Bravo Flores</p>
        <p class="card-text"><b>Cumpleaños:</b> 22 de Junio del 2003</p>
        <p class="card-text"><b>C.I:</b> 0706670254 </p>
        <a href="https://github.com/cambrv" target="_blank" class="btn btn-dark"> GitHub</a>
      </div>
    </div>

  <div class="aspectos">
   <h4 id="asp"><b>Sobre mí</b></h4>
   <!-- Tarjeta -->
  <div class="tarjeta">
      <div class="col s12 m5" id="tarjeta">
        <div class="card-panel  cyan darken-4">
          <span class="white-text">Mis intereses académicos son el diseño gráfico y la informática.            
          </span>
        </div>
    </div>
  </div>
  <!-- T2 -->
  <div class="tarjeta">
      <div class="col s12 m5" id="tarjeta">
        <div class="card-panel  cyan darken-4">
          <span class="white-text">Me gusta el inglés, así que lo he aprendido  empíricamente 
            desde mi infancia.            
          </span>
        </div>
    </div>
  </div>
  <!-- T3 -->
  <div class="tarjeta">
      <div class="col s12 m5" id="tarjeta">
        <div class="card-panel  cyan darken-4">
          <span class="white-text"> Me gusta leer romance, dibujar, y escribir.         
          </span>
      </div>
    </div>
  </div>
</div>
<!-- Cierre div contenedor inicial -->
</div>
<div class="favsong">
  <h5><b>Mi canción favorita</b></h5>
  <p><i>"Love is a song that never ends."</i></p>
</div>
  <!-- Video -->
      <div class="container-iframe">
        <div class="iframe">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/RsEZmictANA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
        </div>       
    </div>