
<div class="alert alert-danger" role="alert">
            Estamos en la página Home!
          </div>
    <h1>Home</h1>
  <main>
    <section>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s95S1_vP-dQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <h2>Sobre mí</h2>
      <div class="card" style="width: 18rem;">
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/OF3SZKCXHZADLOGT3V5KFAXG4E.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Soy Cami y estamos en Home.</p>
          <a href="http://localhost:4200/navbar" class="btn btn-primary">Ir a navbar</a>
        </div>
      </div>
    </section>
    </main>