
.nav-link{
    color: #006064;
    font-size: 20px;
}
.nav-link:hover{
    font-weight: bold;
    font-size: 25px;
    transition: all 0.5s ease;
}

.pie{
    padding: 2%;
    text-align: center;
    background: url(https://i.pinimg.com/originals/80/42/d5/8042d5b86ee7015157cab06b14c80e42.gif);
    color: #006064;
    font-weight: 600;
}
@media (max-width: 768px) {
    .pie{
        font-size: 10px;
    }
    .img-footer{
        width: 40%;
    }
    .nav-link{
        font-size: 16px;
    }
}